body{background-color: aqua;}
.container
{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    column-gap: 20px;
    row-gap: 20px;
}
.box
{
  
    background-color: blueviolet;
    color: white;

}