h1
{
    position: absolute;
    color:greenyellow;
    left: 100px;
    z-index: 5000;
}
a
{
    color:gold; 
    background-color:red;
}
a:hover
{
    color: chartreuse;
}
a:focus
{
    color: blueviolet;
}
h1:hover
{
    color: darkblue;
}
.orderlist ol
{
  padding: 0;
  list-style-type: none;
}
.orderlist ol li 
{
    padding: 10px;
    border-top: 1px solid gold;
}
.orderlist li:first-child
{
    border-top: none;
}
.orderlist li:last-child
{
    border-top: none;
}
.orderlist li:n-child 
{
    border-top: none;
}
  

.fline
{
    p::first-line
    {
         
    }
}
